server:
  grpc:
    host: "localhost"
    port: "50051"
    max_concurrent_streams: 100
    max_recv_msg_size: 4194304  # 4MB
    max_send_msg_size: 4194304  # 4MB
  http:
    port: 8080
    host: "localhost"
    mode: "debug"
  base_url: "http://localhost:6060"

database:
  mysql:
    dsn: "appuser:apppass@tcp(localhost:3306)/short_url?charset=utf8mb4&parseTime=True&loc=Local"
    max_idle_conns: 5
    max_open_conns: 20

redis:
  addr: "localhost:6379"
  password: ""
  db: 0

log:
  level: "debug"
  encoding: "console"
  output_paths:
    - "stdout"

kafka:
  brokers:
    - "localhost:9092"
  client_id: "generate-service"   # 客户端标识
  producer:
    # 对应 sarama.WaitForAll（常量值为-1）
    required_acks: -1
    # 对应 sarama.CompressionSnappy（常量值为2）
    compression: 2
    flush:
      # 刷新频率：500毫秒
      frequency: "500ms"
    return:
      # 是否返回成功信息
      successes: true
      # 是否返回错误信息
      errors: true
    retry:
      # 最大重试次数
      max: 3
    # 是否启用幂等性
    idempotent: true

  net:
    # 最大并发请求数（幂等性要求需设为1）
    max_open_requests: 1

etcd:
  endpoints:
    - "localhost:2379"
  register:
    service_name: generate-service
    addr: localhost:50051
    ttl: 30
    dial_timeout: 10

rate_limit:
  requests_per_minute: 10000
