server:
  port: 6060
  host: "localhost"
  mode: "debug"

redis:
  addr: "localhost:6379"
  password: ""
  db: 0

cache:
  ttl: 3600
  prefix: "short-link"

kafka:
  brokers:
    - "localhost:9092"
  client_id: "generate-service"   # 客户端标识
  version:
  consumer:
    group_id: ""
    topics:
      - ""
    auto_offset: ""

generate_service:
  enabled: true
  address: "localhost:50051"
  timeout: "5s"
